<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jaax.edsa">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8133052963274724~8703737904" /-->

        <activity
            android:name=".SplashScreen"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginUsuario"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".ui.AddUser"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".UpdateUsuario"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".VerEmails"
            android:screenOrientation="fullSensor"
            android:theme="@style/EmailsStyle">
        </activity>
    </application>

</manifest>